pre.programlisting {
  margin: 30px;
  font-size: 75%;
  background-color: #FFFF99 ;
  border: 1px solid #006600 ;
}

p { padding-left:15px;
    padding-right:15px; }

p.ackno {
  font-style:italic;
  padding:30px;
}

div.titlepage div div h1 { text-align:center; }
div.titlepage div div h2 { text-align:center; }
div.titlepage div div h3 { text-align:center; }
div.titlepage div div p.releaseinfo { text-align:center; }

P.CVSinfo { text-align:right; font-style:italic; font-size:80% }
